extends layout
block content
    main.container-fluid
        .header
            h2.page-title ORARUL LUI MATEI
        .row
            each day, index in days
                .row.flex-column.col-content
                    .text-center.border.col-sm.text-uppercase.font-weight-bold.day(data-toggle="collapse" href="#" + day role="button" aria-expanded="false" aria-controls=day)=day
                    each num in [1,2,3,4,5,6]
                        .col-sm.border.text-center(class="order-sm-" + index)
                            .subject
                                span.materie(class= day + "_" + num)
                                span.icon-edit
                                    i.fas.fa-edit
                                span.icon-save
                                    i.fas.fa-save
                            button.btn.btn-outline-primary.btn-sm(data-toggle="collapse" href="#" + day + "_" + num role="button" aria-expanded="false" aria-controls= day + "_" + num) Homework
                            .collapse(id= day + "_" + num)
                                span.homework-edit
                                    i.fas.fa-edit
                                span.homework-save
                                    i.fas.fa-save
                                .card.card-body
                                    p Inserati tema pentru aceasta materie