doctype html
html(lang="ro")
    head
        title=pageTitle
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/normalize.css")
        link(rel="stylesheet" href="/css/base.css")
        link(href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet")
    body
        block content


        script(src='jquery/dist/jquery.min.js')
        script(src='popper.js/dist/popper.js')
        script(src='bootstrap/dist/js/bootstrap.js')
        script(src='js/main.js')
        script(src='js/fontawesome-all.js')